@import url("//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #000;
  line-height: normal;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 1s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  padding: 0 96px;
  max-width: 100%;
}

.hdrInfo {
  padding: 12px 0 32px 0;
}
.hdrInfo .HdrNav {
  justify-content: end;
}
.hdrInfo .navbar-collapse {
  justify-content: end;
}
.hdrInfo .navbar-collapse .navbar-nav li.nav-item {
  margin: 0 48px 0 0;
}
.hdrInfo .navbar-collapse .navbar-nav li.nav-item:last-child {
  margin: 0;
}
.hdrInfo .navbar-collapse .navbar-nav li.nav-item a {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  color: #8e8e8e;
}
.hdrInfo .navbar-collapse .navbar-nav li.nav-item a:hover {
  color: #2aff00;
}
.hdrInfo .logBtn {
  margin-left: 48px;
}
.hdrInfo .logBtn a {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  background-color: #2aff00;
  border-radius: 13px;
  padding: 5px 27px;
}
.hdrInfo .logBtn a:hover {
  background-color: #0a0143;
}

.home {
  width: 100%;
  margin: 0 auto;
}

.admin_panal {
  min-width: 272px;
  background-color: #0a0143;
  overflow: hidden;
}
.admin_panal .adminMain {
  height: 100vh;
}
.admin_panal .offcanvas {
  background-color: #0a0143;
  width: 272px;
  border: none;
  visibility: visible;
  transform: inherit;
}
.admin_panal .btn {
  display: none;
}
.admin_panal .offcanvas-header {
  padding: 0;
}
.admin_panal .offcanvas-header .btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #0a0143;
  background: none;
  font-weight: 900;
  z-index: 999;
  opacity: 1;
  box-shadow: none;
  display: none;
}
.admin_panal .offcanvas-body {
  padding: 0;
  border: none;
  overflow-x: hidden;
}
.admin_panal .offcanvas-backdrop.show {
  opacity: 0;
}
.admin_panal .adminInfo {
  padding: 12px 10px 0 26px;
  background-color: #fff;
  z-index: 9;
  position: relative;
}
.admin_panal .adminInfo .logo {
  padding: 0 10px 25px 0;
}
.admin_panal .adminInfo h5 {
  color: #2803a9;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 10px;
}
.admin_panal .admin_urls {
  position: relative;
  padding: 110px 0 30px 0;
}
.admin_panal .admin_urls::after {
  content: "";
  background: url("../images/admin-layer.png") no-repeat bottom;
  position: absolute;
  top: 0;
  right: 0;
  left: -38px;
  width: 310px;
  height: 72px;
  z-index: 1;
}
.admin_panal .admin_urls ul li {
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-left: 6px solid transparent;
}
.admin_panal .admin_urls ul li a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 14px 0;
  width: 100%;
}
.admin_panal .admin_urls ul li a span {
  margin: 0 0 0 24px;
}
.admin_panal .admin_urls ul li:hover {
  background-color: #2916a6;
  border-color: #2aff00;
}
.admin_panal .admin_urls ul.urlpart2 {
  position: relative;
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
}
.admin_panal .admin_urls ul.urlpart2::before {
  background-color: #2916a6;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  text-align: center;
  right: 0;
}

.site_content {
  width: 100%;
}

.page_title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #2916a6;
  margin: 0 0 20px 0;
}
.page_title p {
  font-weight: 400;
  font-size: 14px;
  color: #8e8e8e;
  margin: 0;
}

.hmContent .homeLinks {
  margin: 0 0 50px 0;
}
.hmContent .homeLinks:last-child {
  margin: 0;
}
.hmContent .homeLinks h2 {
  font-size: 22px;
  font-weight: 700;
  color: #2916a6;
  margin: 15px 0 0 0;
}
.hmContent .homeLinks p {
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
  line-height: 20px;
  margin: 10px 0 15px 0;
}
.hmContent .homeLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #2aff00;
  border-radius: 20px;
  width: 203px;
  height: 40px;
  margin: 0 auto;
}
.hmContent .homeLinks a:hover {
  background-color: #0a0143;
}
.hmContent .homeLinks img {
  max-height: 65px;
}

.secSpace {
  padding: 60px 0;
}

.todoList .accordion {
  border: none;
}
.todoList .accordion .accordion-item {
  border: none;
}
.todoList .accordion .accordion-item .accordion-button {
  box-shadow: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #2916a6;
  border-bottom: 1px solid #e2e2e2;
  padding: 25px 0;
}
.todoList .accordion .accordion-item .accordion-button::after {
  background: url("../images//arrow.png") no-repeat;
  background-position: 0 5px;
}
.todoList .accordion .accordion-item .accordion-body {
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.conStep {
  padding: 60px 0 0 0;
}
.conStep li {
  width: 30%;
  margin: 0 5% 0 0;
  position: relative;
}
.conStep li:last-child {
  margin: 0;
  padding: 0;
}
.conStep li:last-child::after {
  display: none;
}
.conStep li::after {
  content: "";
  background: url("../images/step-arrow.png") no-repeat;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.conStep img {
  max-height: 38px;
}
.conStep h2 {
  font-size: 22px;
  font-weight: 700;
  color: #2916a6;
  margin: 15px 0;
}
.conStep p {
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
  margin: 0;
}

.powerdby p {
  color: #0a0143;
  font-size: 14px;
  font-weight: 600;
  margin: 4px 10px 0 0;
}/*# sourceMappingURL=style.css.map */